body {
  margin: 0;
  font-family: 'Star Jedi', arial; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: yellow;
}

#credit{
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30%;
}

.navbar{
  display: flex;
  margin-left: 35%;
  margin-right: 35%;
  justify-content: space-evenly;
}

.navbar-button {
  width: 100%;
}

.signup-container
.login-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin-top: 500px;
  margin-left: 15%;
  margin-right: 15%;
}

.form {
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 30%;
  border-style: solid;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 5px;
}

button{
  font-family: 'Star Jedi', arial;
  background-color: black;
  color: yellow;
  width: 25%;
  align-self: center;
  border-style: solid;
  border-color: yellow;
  border-radius: 10px;
  margin: 5px;
}